header {
          background-color: #ffffff;
}

h1 {
          font-weight: bold;
          text-align: center;
          left: 0;
          bottom: 0;
          width: 100%
          font-family: serif;
          font-size: 92;
          background-color: #0E65E3;
     }

     h3 {
               font-size: 32;
               font-family: sans-serif;
               padding-left: 0.2%;
}

body {
          background-color: #0096FF;
          min-height: 400px

}

ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  max-width: 100%;
  max-height: 100%;

}

li a {
  display: block;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}

li:hover {

         background-color: #99919E;

    color: white;

    }


.active {

         background-color: #99919E;

         color: white;

    }

main {
          font-size: 20;
          font-family: serif;
          font-weight: bold;
          left: 0;
          bottom: 0;
          text-align: left;

 }

 img {
      max-width:100%;
      height:auto;
 }

video {
  max-width:100%;
  height:auto;
  padding-left: 0.2%;
}

 footer {
          font-size: 1em;
          font-family: fantasy;
          background-color: #00FFFF;
          left: 0;
          bottom: 0;
          width: 100%;
          color: black;
          text-align: center;
          width: 100%;
 }

 button {

          font-size: 20;
          font-family: monospace;
          background-color: #6495ED;
          border-width: medium;
          min-width:20%;
          max-width:100%;
          padding-right: 50
 }
 p {
 font-size: 18px;
 font-family: sans-serif;
 padding-left: 0.2%;
 }



 .sticky {
   position: fixed;
   top: 0;
   width: 100;
 }

.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}


.header
{
  font-family: sans-serif;
  color: black;
  font-size: 32px;
}

.active {
    background-color: #111;
    color: #0096FF;
}

.figure  {
  text-align: right;
  font-style:oblique;
  text-decoration: underline;
  margin: 0;
}

.interact  {
  text-align: right;
  font-style:oblique;
  text-decoration: underline;
  margin: 0;
}


#imagesright {
  float: right;
  align: right;
  padding-right: 2%;
  padding-left: 2%;
}

#imagescenter {
  float:inherit;
  align:center;
  padding-left: 500px;
  padding-right: 500px;
  max-width: 100%
}

#figure {
  text-align: right;
  font-style:oblique;
  text-decoration: underline;
  margin: 0;
}

#figure2 {
  font-style:oblique;
  text-decoration: underline;
}

#ref {
  width: 75%;
  max-width: 100%;
}
